.bar-chart .axis .label {
  font: 14px arial;
}

.bar-chart .axis path,.bar-chart .axis line {
  fill: none;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.bar-chart x.axis path {
  display: none;
  stroke: lightgrey;
}

.bar-chart .tick line {
  stroke: lightgrey;
  stroke-width: 1;
  opacity: 0.7;
}

.bar-chart .x circle.tick-circle {
  fill: lightgrey;
}

.bar-chart .y circle.tick-circle {
  cx: -8px;
  fill: lightgrey;
}

.bar-chart .y.axis line {
  display: none;
  stroke: lightgrey;
}